<% include header %>
       <% if (person.length) { %>
        <h2>
          <div class="big-box">
            <form name="form-form"  action="/new-person" method="get" id="submit_form ">
              Item List  <%= person[0].name %>님, 안녕하세요!
              <button type="submit" class="btn btn-warning pull-right">로그아웃</button>
            </form>
          </div>
        </h2>
      <% } else {%> 
        <h2>
          <div class="big-box">
            <form name="form-form"  action="/new-person" method="get" id="submit_form ">
              <button type="submit" class="btn btn-success pull-right">로그인</button>
            </form>
          </div>
        </h2>
      <% }%>
<hr/>
<hr/>
<hr/>
<div class="border-box">
<% if (items.length) { %>
  <% items.forEach(function(item, index) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="form-group col-lg-1">
          <form name="form-form"  action="/renew" method="get" id="submit_form ">
            <input type="submit" value="Buy" class="btn btn-info btn-lg">
          </form>
        </div>
        <div class="form-group col-lg-6">
          <form name="form-form"  action="/renew" method="get" id="submit_form ">
            <input type="submit" value="Revise" class="btn btn-warning btn-lg">
          </form>
        </div>
        <div class="text-muted col-lg-5">
          <br>
          <%= item.published %>
        </div>
        <div class="form-group col-lg-0">
            <br>
            <br>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><h2>Type</h2></th>
              <th scope="col"><h2>Information</h2></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">명칭</th>
              <td><%= item.name %></td>
            </tr>
            <tr>
              <th scope="row">매매대금</th>
              <td><%= item.price %></td>
            </tr>
            <tr>
              <th scope="row">소재지</th>
              <td><%= item.address %></td>
            </tr>
            <tr>
              <th scope="row">부동산 고유번호</th>
              <td><%= item.id %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% }) %>
<% } else { %>
  No Items!
<% } %>
</div>
<% include footer %>
