<% include header %>
       <% if (person.length) { %>
        <h2>
          <div class="big-box">
            <div class="col-md-9">
                <b><%= person[0].name %></b>님, 안녕하세요!
            </div>
              <div class="col-sm-1">
                <a href="/renew" class="btn btn-primary col-sm-30">
                  새로고침
                </a>
              </div>
              <div class="col-lg-1">
                <a href="/new-item" class="btn btn-primary">
                  등록하기
                </a>
              </div>
            <div class="col-lg-1">
              <form name="form-form"  action="/logout" method="get" id="submit_form ">
                <button type="submit" class="btn btn-danger col-sm-30">로그아웃</button>
              </form>
            </div>
          </div>
        </h2>
      <% } else {%> 
        <h2>
          <div class="big-box">
            <div class="col-lg-10">
                로그인을 하고 서비스를 이용하세요.
            </div>
            <div class="col-lg-1">
              <a href="/renew" class="btn btn-primary">
                새로고침
              </a>
            </div>
            <div class="col-lg-1">
              <form name="form-form"  action="/new-person" method="get" id="submit_form ">
                <button type="submit" class="btn btn-success ">로그인</button>
              </form>
            </div>
          </div>
        </h2>
      <% }%>
<hr/>
<hr/>
<hr/>
<div class="border-box">
<% if (items.length) { %>
  <% items.forEach(function(item, index) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="form-group col-lg-1">
            <% if (person.length) {%>
          <form name="form-form-form"  action="/buy" method="post" id="submit_form ">
            <input type="hidden" class="form-control" id="buy" name="buy" value=<%= item.index %> >
            <button type="submit" class="btn btn-primary btn-lg">Buy</button>
          </form>
            <% } %>
        </div>
        <div class="form-group">
          <div class="form col-lg-6">
              <% if (person.length) {%>
            <form name="form-form-form-form"  action="/revise" method="post" id="submit_form_from ">
              <input type="hidden" class="form-control" name="index" value=<%= item.index %> >
              <button type="submit" class="btn btn-warning btn-lg">Revise</button>
            </form>
               <% } %>
          </div>
        </div>
        <div class="text-muted col-lg-5 pull-right">
          <%= item.published %>
        </div>
        <div class="form-group col-lg-0">
            <br>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><h2>Type</h2></th>
              <th scope="col"><h2>Information</h2></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">명칭</th>
              <td><%= item.name %></td>
            </tr>
            <tr>
              <th scope="row">매매대금</th>
              <td><%= item.price %></td>
            </tr>
            <tr>
              <th scope="row">소재지</th>
              <td><%= item.address %></td>
            </tr>
            <tr>
              <th scope="row">부동산 고유번호</th>
              <td><%= item.id %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% }) %>
<% } else { %>
  No Items!
<% } %>
</div>
<% include footer %>
